In [2]:
# pip install joblib

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sklearn
import seaborn as sns
import joblib as joblib

data = pd.read_csv('decision_tree_data.csv')

data.head()

   Weight  Age  Height  Gender Likeness
0      27   31     177    Male  Biryani
1      41   32     166  Female   Samosa
2      35   33     188    Male     Qema
3      43   34     192  Female  Biryani
4      88   35     156    Male  Biryani

In [4]:
#replace Gender Column attributes into 0 and 1
data['Gender'] = data['Gender'].replace('Male',1)
data['Gender'] = data['Gender'].replace('Female',0)
data.head()

   Weight  Age  Height  Gender Likeness
0      27   31     177       1  Biryani
1      41   32     166       0   Samosa
2      35   33     188       1     Qema
3      43   34     192       0  Biryani
4      88   35     156       1  Biryani

In [5]:
# selection from table

X = data[['Weight','Gender']]
y = data['Likeness']

In [6]:
# How to measure the accuracy of our model

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0 )

In [7]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create a model
model = DecisionTreeClassifier()

# fit a model
model.fit(X,y)

DecisionTreeClassifier()

In [8]:
# prediction
predicted_value = model.predict(X_test)

In [9]:
# checking accuracy score
score = accuracy_score(y_test,predicted_value)
score

0.75

# How to train and save a Model

In [10]:
# First import these libraries

# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import sklearn as sklearn
# import seaborn as sns
# import joblib as joblib

In [11]:
# # machine learning algorithm
# from sklearn.tree import DecisionTreeClassifier

# # create a model
# model = DecisionTreeClassifier()

# # fit a model
# model.fit(X,y)

# joblib.dump(model,"foodies.joblib")

# Decision Tree Graph Representation

- install " ext install joaompinto.vscode-graphviz " extension to preview the tree using ctrl + p and then paste
- Graphviz (dot)   name of extension

In [12]:
from sklearn import tree

model = DecisionTreeClassifier().fit(X,y)

# graphic evaluation

tree.export_graphviz(model,out_file="foodie.dot",
feature_names=['Age','Gender'],
class_names=sorted(y.unique()),
label='all',
rounded='tree',
filled=True)