In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sklearn
import seaborn as sns
import joblib as joblib

data = pd.read_csv('k_nearest_neighbour_dataset.csv')

data.head()

   Weight  Age  Height  Gender Likeness
0      27   31     177    Male  Biryani
1      41   32     166  Female   Samosa
2      35   33     188    Male     Qema
3      43   34     192  Female  Biryani
4      88   35     156    Male  Biryani

In [69]:
#replace Gender Column attributes into 0 and 1
data['Gender'] = data['Gender'].replace("Male",1)
data['Gender'] = data['Gender'].replace("Female",0)
data.head()

   Weight  Age  Height  Gender Likeness
0      27   31     177       1  Biryani
1      41   32     166       0   Samosa
2      35   33     188       1     Qema
3      43   34     192       0  Biryani
4      88   35     156       1  Biryani

In [70]:
# selection from table

X = data[['Weight','Gender']]
y = data['Likeness']

In [71]:
# How to measure the accuracy of our model

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=0 )

In [72]:
# machine learning algorithm
from sklearn.neighbors import KNeighborsClassifier

# create a model
model = KNeighborsClassifier(n_neighbors=5)

# fit a model
model.fit(X,y)

KNeighborsClassifier()

In [73]:
# prediction
predicted_value = model.predict(X_test)
predicted_value

array(['Biryani', 'Qema', 'Qema', 'Qema'], dtype=object)

In [74]:
# checking accuracy score
score = accuracy_score(y_test,predicted_value)
score

0.25